$base-color: #0c0e18;
$color-2: #E8EAEA ;
$coler-3: #c4c4c4 ;
$bold: 600 ;
$black:700 ;
$tablet-width: 768px;
$desktop-width: 1024px;
nav{
    margin-top: 30px;
    display: flex;
    justify-self: start;
    ul{
        position: relative;
        list-style: none;
        display: flex;
        align-items: center;
        li{
            a{
                color: $color-2;
                font-weight: $bold;
                :hover {
                    color: $coler-3 !important;
                    text-decoration: none;
                }
            }
        }
        @media (max-width: $desktop-width) {
            display: none;
            
        }
    }
}
.avatar{
    border-radius: 75%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    @media (max-width: $desktop-width) {
        width: 150px;
        height: 150px;
        
    }
}
.slider {
    position: absolute;
    bottom: 0;
	left: 40px;
    width: 54px;
    height: 4px;
    border-radius: 15px;
    background-color: $color-2;
    transition: left .25s;
}
.description_tab:first-child.active ~ .slider {
    
    left: 52px;
}
.description_tab:nth-child(2).active1 ~ .slider {
    left: 138px !important;
    width: 90px;
}
.description_tab:nth-child(3).active2 ~ .slider {
    left: 260px !important;
    width: 90px;
}
.description_tab:nth-child(4).active3 ~ .slider {
    left: 379px !important;
    width: 44px;
}
.description_tab:nth-child(5).active4 ~ .slider {
    left: 453px !important;
    width: 70px;
}
ol{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    li{
        margin: 2%;
    }
    li:first-child{
        button{
            background-color: $base-color;
            border: solid 1px;
            border-radius: 25px;
            padding:5px  10px  ;
            &:hover{
                transition: 0.5ms;
                background-color: $color-2;
                border:solid 1px $base-color;
                color: $base-color;
            }
        }
    }
    li:nth-child(2){
        button{
            background-color: $color-2;
            color: $base-color;
            border:solid 1px;
            border: solid 1px;
            border-radius: 25px;
            padding:5px 10px;
            &:hover{
                transition: 0.5ms;
                background-color: $base-color;
                border:solid 1px $color-2;
                color: $color-2;
            }
        }
    }
    @media (max-width: $desktop-width) {
        display: none;
        
    }
    
}
