* { box-sizing: border-box; }


$list-bg: #fff;
$menu-icon-transition: transform 300ms cubic-bezier(0.52, -0.80, 0.52, 0.52);
$base-color: #0c0e18;
$color-2: #E8EAEA ;
$coler-3: #c4c4c4 ;
$bold: 600 ;
$black:700 ;
$tablet-width: 768px;
$desktop-width: 1024px;


.list-container {
    position: relative;
    bottom: 237px;
    right: 0;
    float: right;
    @media (min-width: $desktop-width) {
        display: none;
    }
  
  &.active {
    .more-button-list {
       opacity: 1;
       transform: scale(1);
    }
    
    .more-button-list-item {
      animation: fadeInItem .6s .2s forwards;
      
      &:nth-child(2) { animation-delay: .4s; }
      &:nth-child(3) { animation-delay: .5s; }
      &:nth-child(4) { animation-delay: .6s; }
      &:nth-child(5) { animation-delay: .7s; }
      &:nth-child(6) { animation-delay: .8s; }
      &:nth-child(7) { animation-delay: .9s; }

    }
    
    .more-button {
      animation: onePulse .6s forwards linear;
    }
    
    .menu-icon-wrapper {
      transform: rotate(-45deg);
    }
    
    .menu-icon-line {
      &.first {
        transform: rotate(-90deg) translateX(1px);
      }
      
      &.last {
        transform: rotate(-90deg) translateX(-1px);
      }
    }
  }
}

.more-button {
  background-color: $coler-3;
  box-shadow: 0px 0px 0px 4px rgba(92,103,255,0.3);
  border-radius: 50%;
  width: 130px;
  height: 130px;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: .2s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  z-index: 2;
  
  
  &:hover, &:focus {
    box-shadow: 0px 0px 0px 8px rgba(92,103,255,0.3);
    background-color: darken($coler-3,4%);
  }
  
  &:focus { outline: 0; }
  
  &-list {
    background-color: $color-2;
    border-radius: 8px;
    list-style-type: none;
    width: 300px;
    height: 440px;
    box-shadow: 0px 0px 4px 4px rgba(150, 157, 249, 0.16);
    padding: 0;
    padding: 6px;
    position: absolute;
    right: 49px;
    top: 38px;
    opacity: 0;
    transform: scale(0);
    transform-origin: top right;
    transition : all .3s ease .1s;
    
    li { 
        opacity: 0;
        border-bottom: 2px solid #000;
     }
  }
  
  &-list-item {
    display: flex;
    align-items: center;
    color: $coler-3;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: .2s ease-in;
    transform: translatex(-10px);
    
    &:hover { color: $coler-3; }
    
    &:after {
      content: '';
      position: absolute;
      height: 1px;
      width: calc(100% - 24px);
      left: 12px;
      bottom: 0;
      background-color: rgba(132, 160, 244, 0.1);
    }
    &:last-child:after { display: none; }
    
    svg {
      width: 18px;
      height: 18px;
    }
    
    span {
        display: inline-block;
        line-height: 40px;
        font-size: 35px;
        margin-left: 8px;
        color: $base-color;
    }
  }
}

@keyframes onePulse {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(92,103,255,0.3);
  }
  
  50% {
    box-shadow: 0px 0px 0px 12px rgba(92,103,255,0.1);
  }
  
  100% {
    box-shadow: 0px 0px 0px 4px rgba(92,103,255,0.3);
  }
}

@keyframes fadeInItem {
  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}

.socials {
  position: fixed;
  bottom: 16px;
  right: 16px;
  display: flex;
  align-items: center;
}

.social-link {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  margin-right: 12px;
}

.menu-icon-wrapper {
  border-radius: 2px;
  width: 40px;
    height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.menu-icon-line {
  background-color: #fff;
  border-radius: 2px;
  width: 100%;
  height: 2px;
  
  &.half { width: 50%;}
  
  &.first {
    transition: $menu-icon-transition;
    transform-origin: right;
  }
  
  &.last {
    align-self: flex-end;
    transition: $menu-icon-transition;
    transform-origin: left;
  }
}