*{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(7, 6, 51);
    color: rgb(255, 191, 0);
}
body{
    margin: 0;
    padding: 0;
    
}
a {
    /* color: #007bff; */
    text-decoration: none;
    background-color: transparent;
}
nav{
    display: flex !important;
    justify-content: space-between;
    padding: 0 0 15px;
    padding-top: 5px ;
}
.logo{
    height: 75px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0 ;
    display: flex;
    justify-content: flex-end;
}
/* nav ul li{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, #ffbf00, #eaa012);
    color: rgb(7, 6, 51);
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
    width: 80px;
    height: 35px;
}


nav ul li a :hover{
    transition: 250ms;
    background-color: rgb(7, 6, 51) !important;
    color: rgb(255, 191, 0);
    border: solid rgb(255, 191, 0) 1px;
}
nav ul a{
    text-decoration: none !important;
}
nav ul li:hover{

} */
.nav-link {
    background: linear-gradient(to right, #ffbf00, #eaa012);
    color: rgb(7, 6, 51);
    border-radius: 10px;
    margin: 5px 5px;
}

.nav-link:hover{
    transition: 500ms;
    background: rgb(7, 6, 51) !important;
    color: rgb(255, 191, 0);
    border: solid rgb(255, 191, 0) 1px;
}